@page "/"
@inject OnlineStateService OnlineStateService

<div>
    Current online state: @IsOnline
</div>

@code {
    public bool IsOnline { get; set; }

    public void OnOnline()
    {
        Task.Run(async () =>
        {
            IsOnline = await OnlineStateService.IsOnline();
            StateHasChanged();
            System.Diagnostics.Debug.Print("You are now online!");
        });
    }

    public void OnOffline()
    {
        IsOnline = false;
        System.Diagnostics.Debug.Print("You are now offline!");
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        OnlineStateService.Online += OnOnline;
        OnlineStateService.Offline += OnOffline;
    }

    protected override async Task OnInitializedAsync()
    {
        IsOnline = await OnlineStateService.IsOnline();
    }
}